@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full overflow-hidden font-['Inter'];
}

body {
  @apply h-full overflow-auto;
}

@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    @apply w-[0.2rem];
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-slate-200;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-slate-300;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-300;
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    @apply bg-slate-100;
  }

  a {
    @apply underline text-orange-600 hover:text-orange-800 visited:text-orange-900 transition-all duration-300;
  }

  .progressBar {
    --seek-before-width: 0;
    @apply bg-indigo-100 appearance-none rounded-md relative w-full h-1 outline-none;
  }

  /* progress bar - safari */
  .progressBar::-webkit-slider-runnable-track {
    @apply bg-indigo-100 appearance-none rounded-md relative w-full h-1 outline-none;
  }

  /* progress bar - firefox */
  .progressBar::-moz-range-track {
    @apply bg-indigo-100 appearance-none rounded-md relative w-full h-1 outline-none;
  }

  /* progress bar - chrome and safari */
  .progressBar::before {
    width: var(--seek-before-width);
    @apply bg-indigo-300 cursor-pointer z-10 left-0 top-0 absolute rounded-bl-md rounded-tl-md h-2;
  }

  /* progress bar - firefox */
  .progressBar::-moz-range-progress {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 10px;
    @apply bg-indigo-300 w-full;
  }

  /* knobby - chrome and safari */
  .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    margin: -3px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    @apply bg-indigo-600;
  }

  /* knobby while dragging - chrome and safari */
  .progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    @apply bg-indigo-700;
  }

  /* knobby - firefox */
  .progressBar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    @apply bg-indigo-600;
  }

  /* knobby while dragging - firefox */
  .progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    @apply bg-indigo-700;
  }

  .currentTime,
  .duration {
    font-size: 16px;
    position: "fixed";
    @apply px-3 text-sm font-['Inter'] text-slate-700;
  }
}
