@tailwind base;
@tailwind components;
@tailwind utilities;

$rhap_theme-color: #6366f1 !default; // Color of all buttons and volume/progress indicators
$rhap_font-family: "Inter", sans-serif !default; // Font family of current time and duration
@import "react-h5-audio-player/src/styles.scss";

html {
  @apply h-full overflow-hidden font-['Inter'];
}

body {
  @apply h-full overflow-auto;
}

.rhap_container {
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
}

.rhap_time {
  font-size: 0.875rem;
  color: white;
}

.rhap_main-controls-button {
  color: #6366f1;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0px;
}

.rhap_progress-bar {
  height: 4px;
}

.rhap_progress-indicator {
  width: 12px;
  height: 12px;
  top: -4px;
}

.link_animated {
  animation: backAndForth 5s linear infinite;
}
@keyframes backAndForth {
  55% {
    transform: translateX(calc(-100% + 200px));
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    @apply w-[0.5rem];
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-sky-800;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-slate-800;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-sky-900;
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  // .rhap_time {
  //   @apply "text-sm";
  // }
}
